// Для импорта в диспетчер подключений: @import './src/less/blocks/promo-gallery.less';


.promo-gallery {

  &__inner{
    padding-bottom: 50px;

    @media (min-width: @screen-lg){
      margin: 0 auto;
      width: @screen-lg;
    }
  }

  &__big{
    margin-bottom: 0px;
  }


  &__big-item{
    min-height: 230px;
    max-height: 500px;
    object-fit: cover;
  }

  &__thumbs{
    margin-top: 0;
    display: none;

    @media (min-width: @screen-sm){
      display: block;
    }
  }

  &__thumbs-item{

      @media(min-width: @screen-sm){
        height: 75px;
      }

      @media(min-width: @screen-lg){
        height: 115px;
      }
    }

}
