// Для импорта в диспетчер подключений: @import './src/less/blocks/rooms-types.less';


.rooms-types {
  &__inner{
    padding: 50px 0px;
    padding-bottom: 0;
    text-align: center;

    @media (min-width: @screen-lg){
      width: @screen-lg;
      margin: 0 auto;
    }
  }

  &__title{
    font-family: @serif;
    font-size: @h2-size;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
