// Для импорта в диспетчер подключений: @import './src/less/blocks/room-info.less';


.room-info {
  padding: 50px 22px;
  text-align: left;
  font-family: @fira-sans;

  &__title{
    font-size: @h2-size - 4px;
    font-weight: lighter;
  }

  &__text{
    font-size: @text-size;
  }

  &__list{
    list-style: none;
  }

  &__list-item:before{
    content: '';
    width: 6px;
    height: 6px;
    border-right: 1px solid @orange-lighter;
    border-top: 1px solid @orange-lighter;
  }
}
