// Для импорта в диспетчер подключений: @import './src/less/blocks/rooms-name.less';


.rooms-name {
  &__title{
    font-family: @serif;
    font-size: @h3-size + 12px;
  }

  &__price{
    font-family: @fira-sans;
    font-size: @small-size;
    text-transform: uppercase;
  }
  &__number{
    color: @orange;
  }
}
