// Для импорта в диспетчер подключений: @import './src/less/blocks/rooms-others.less';


.rooms-others {
  background-color: #f6f6f6;

  &__inner{
    padding: 50px 20px;
    padding-bottom: 30px;
    text-align: center;

    @media (min-width: @screen-lg){
      width: @screen-lg;
      margin: 0 auto;
    }
  }

  &__row{
    @media (min-width: @screen-sm){
      .row;
      justify-content: space-around;
    }
  }
}
