// Для импорта в диспетчер подключений: @import './src/less/blocks/room-gallery.less';


.room-gallery {
  width: 100%;

  @media (min-width: @screen-lg){
    .col-(6);
    order: 2;
  }

  &__carousel{
    width: 100%;
  }

  &__item{
    width: 100%;
  }
}
