.row() {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;

  display: flex;
  justify-content: space-between;
}

.col-(@n) {
  flex-basis: @n / 12 * 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-offset-(@n) {
  margin-left: @n / 12 * 100%;
}
