@screen-xs:                   320px;
@screen-sm:                   768px;
@screen-lg:                   1200px;


@Serif: 'PT Serif', serif;
@FiraSans: 'Fira Sans', sans-serif;
@font-size:                   14px;

@text-size: 16px;
@h2-size: 30px;


@white: #fff;
@black: #000;
@dark: #1c1c1c;
@gray: #838383;
@orange: #ff7435;
@green: #0ab89d;